<!DOCTYPE html>
<html>
<head>
  <title>RailsEngineReactExample</title>
  <%= switch_stylesheet_link_tag "rails_engine_react_example/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
  <%= switch_javascript_include_tag "rails_engine_react_example/application" %>
</body>
</html>
